@import "styles.css";

// colors
$charcoal: #707070;
$gold: #ccaa64;

// fonts
$bitter: 'Bitter', serif;

// backgrounds
$lightBackground: url('../img/groovepaper.png');
$darkBackground: url('../img/footer_lodyas.png');

// widths
$break-small: 320px;
$break-medium: 768px;
$break-large: 1000px;

@font-face {
	font-family: 'headerFontLight';
	src: 
		local('MAXWELL LIGHT.ttf'),
		url('../fonts/MAXWELL LIGHT.ttf') 
		format('truetype');
}
@font-face {
	font-family: 'headerFontRegular';
	src: 
		local('MAXWELL REGULAR.ttf'),
		url('../fonts/MAXWELL REGULAR.ttf') 
		format('truetype');
}

html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

body {
	margin:0 auto;
}

nav {
	background: $darkBackground;
	padding-top:20px;
	padding-bottom:10px;


	h1 {
		text-align:center;
		font-family: 'headerFontLight', sans-serif;
		color: #fff;
		text-transform: uppercase;
		@media only screen and (min-width:$break-small) {
			font-size: 450%;
		}
		@media only screen and (max-width:$break-medium) {
			font-size:360%;
		}
	}
	h2 {
		text-align:center;
		font-family: 'headerFontLight', sans-serif;
		color: $gold;
		font-size: 270%;
		margin:0;
	}
	hr {
		width: 85%;
		border-top:3px dotted #fff;
	}
	ul {
		text-align:center;
		padding:0;
	}
	li {
		display:inline-block;
		margin:10px;

		a {
			color:#fff;
			font-size: 120%;
			font-family: 'headerFontLight', sans-serif;

			&:hover {
			color: $gold;
			}
		}
	}
}
.navigation {
	padding:0;
	text-align:center;
}
#contentHeading {
	text-decoration-style:dashed;
}
#content {
	padding: 20px 0;
	background: $lightBackground;
	
	hr {
		border-top:3px dotted $charcoal;
		width: 70%;
	}
	img {
		border: 10px solid #000;
	}

	.thumbnail{
		border:none;
		background: $lightBackground;
		margin-bottom:0;
		padding-bottom:50px;

		h2 {
			font-family: 'headerFontRegular', sans-serif;
			text-transform: uppercase;
		a {
			color:$charcoal;
			}
		}
		p {
				font-family: $bitter, serif;
				color: $charcoal;
				font-size: 120%;
			}
		@media screen and (min-width: $break-large) {
			
			p, h2 {
				padding-left:90px;
				width:85%;
			}
		}
		@media only screen and (max-width:$break-large) {
			
			p, h2 {
				text-align:center;
			}
		}
	

	}
	.excelPadding {
	padding-bottom:70px;
	}

	#contentHeading {
		color:$charcoal;
		font-family: 'headerFontRegular', sans-serif;
		text-transform: uppercase;
		text-align: center;
		font-size:260%;

	}
}
#dashed {
	hr {
		border-top:3px dashed $charcoal;
		margin-bottom:50px;
		width: 25%;
	}
}
footer {
	padding-top:20px;
	padding-bottom:70px;
	background: $darkBackground;
	h2 {
		color:#fff;
		font-family: 'headerFontRegular', sans-serif;
		text-transform:uppercase;
	}
	p {
		color:#fff;
		font-family: $bitter, serif;
		font-size:120%;
	}
	sub {
		color: #fff;
	}

	span {
		color: $gold;
	}
	img {
		margin-right:10px;
	}
	@media screen and (min-width: $break-large) {
	
		p, h2, #social {
			padding-left:20%;
		}
		footer {
			padding-bottom:50px;;
		}
		.footerStyle {
			border-right: 2px dashed #fff;
		}
	}
	.clearfix {
		overflow:auto;
	}
	@media only screen and (max-width:$break-large) {
		
		p, h2 {
			text-align:center;
			padding-bottom:20px;
		}
		#social {
			text-align:center;
		}
		.footerStyle {
			border-right: none;
		}
	}
}
