html {
	background-color: #f8f8f8;
	}
#container {
	background-color: #f8f8f8;
}
body{
	text-align:center;
	font-family: 'Roboto'!important;
	background-color: #f8f8f8!important;
}
#logo {
	padding-top: 20px;
}
#websites img,
#misc img {
	padding: 30px;
	background-color: #fff;
}
#websites img {
	margin-bottom: 5px;
}
#blurb {
	padding-bottom: 20px;
	padding-top: 20px;
}
#blurb h2 {
	font-size: 1.5em;
	line-height: 1.5em;
	font-weight: 700;
}
img {
	max-width: 550px!important;
}

#contact i {
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 20px;
	color: #222;
}
#copyright {
	margin-top: 50px;

}

@media only screen and (min-width: 600px){

	.icon-facebook-sign {
		position: absolute;
		right: 70px;
	}
	.icon-linkedin-sign {
		position: absolute;
		right: 100px;
	}
	.fa-envelope {
		position: absolute;
		right: 40px;
	}
	#blurb h2 {
		font-size: 2.5em;
		line-height: 1.5em;
		font-weight: 700;
	}
	#blurb {
		padding-bottom: 80px;
		padding-top: 40px;
	}
	#copyright {
		font-family: 'Roboto';
		text-align: left;
		margin-left: 40px;
		padding-bottom: 10px;
	}
}



