html {
	background-color: #ffffff;


	}
#container {
	background-color: #ffffff!important;
}
body{
	
	font-family: 'Roboto'!important;
	background-color: #f8f8f8!important;
   background: url(../img/averil.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
#logo {
	margin-top: 40px;
	margin-bottom: 20px;
	border: 1px solid #ddd;

}#logo img {

}
#contact i {
    color: #222;
    margin: 10px;
}
#contact {
    text-align: center;
}
nav {
    text-align: center;

}
#websites{	
    padding: 30px;
	background-color: #fff;
    max-width: 1100px;
    margin: 0 auto;
}
#blurb {
	padding-bottom: 20px;
	padding-top: 20px;
    text-align: center;
    color:#222;
}
#blurb h2 {
	font-size: 1.5em;
	line-height: 1.5em;
	font-weight: 700;
}
img {
	max-width:500px!important;
}


#copyright {
	margin-top: 50px;
	text-align: center;

}
.img-caption {
    display: inline-block;
    max-width:300px;
    vertical-align: middle;
}
.img-caption ul {
    margin: 0;
    list-style: none;
}
.img-caption li {
    display: inline-block;
    background-color: #f6677b;
    border-radius: 3px;
    color: #fff;
    padding: .2em 1em;
    margin: 5px;
}
#websites img {
    display: inline-block;
}

#websites {
    text-align: center;
}
#websites h2 {
        font-size: 2em;
    line-height: 1.5em;
    font-weight: 700;
}

@media only screen and (min-width: 600px){

	.icon-facebook-sign {
		position: absolute;
		right: 100px;
	}
	.icon-linkedin-sign {
		position: absolute;
		right: 130px;
	}
	.fa-envelope {
		position: absolute;
		right: 0px;
	}
	#blurb h2 {
		font-size: 2.5em;
		line-height: 1.5em;
		font-weight: 700;
	}
	#blurb {
		padding-bottom: 80px;
		padding-top: 40px;
	}
	#copyright {
		font-family: 'Roboto';
		text-align: left;
		margin-left: 40px;
		padding-bottom: 10px;
	}
    #websites img {
    display: inline-block;
}


}

